@import url('https://fonts.googleapis.com/css?family=Roboto:100i,400');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
/* @media (min-width: 372px) {

}


@media (min-width: 420px) {
  
}


@media (min-width: 762px) {
    

} */
@media (min-width :1000px){
    
}