@import url('https://fonts.googleapis.com/css?family=Roboto:100i,400');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #fbfafa;
}
.auto{
    margin: auto;
}
.text-color{
    color: #00A8B1;
}
.name-color{
    color: #545454;
}
.back-color{
    background-color: #00A8B1;
}
.color2{
    background-color: #AFE0EA;
}
.color3{
    color: #AFE0EA;
}
.container-post{
    background-color: #efefef75;
}
.container{
    width: auto;
    text-align: center;
}

.home-button{
    border: none;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.home-img{
    width: 30%;
}

.main-img{
    width:50%;
}
.block{
    display: block;
}
.flex{
    display: flex;
}
.inputs{
    margin:auto;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    height: 30px;
    width: 50%;
}

.menu-button{
    width:15%;
    margin:12px;
}

.flex-column{
    flex-direction: column;
}

.margin {
    margin:20px;
}

.social-media-img{
    width:7%;
}

.name{
    font-size: 40px;
    font-weight: bolder;
}

.buttons{
    border-radius: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: fit-content;
    margin: auto;
    font-size: smaller;
}

.header-profile{
    height: 50px;
}

.center{
    justify-content: center;
    align-items: center;
}

.inline-block{
    display: inline-block;
}

.header-items{
    color:white;
    font-size: x-large;
}

.section-user{
    margin: 20px;
}

.figure-profile{
    width: 20%;
}

.img-user{
    border-radius: 50%;
    width: 100%;
}

.name-user{
    margin: 30px;
    font-size: small;
}

.dropdown {
    border: none;
    width: fit-content;
    margin-right: auto;
  }
  
.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
.position{
    position: absolute;
}

.dropdown-links{
    font-size: smaller;
    text-decoration: none;
    margin: 10px;
    background-color: #f9f9f9;
}
.post-border{
    border: 1px solid #d2d5d6;
}
.post{
    padding: 9px;
    border-radius: 5px;
    width: 80%;
}
.post-input{
    height: 90px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.upload-img{
    border: none;
    width: 8%;
    height: 30px;
    padding: 0;    
    margin-right: auto;
}
.background-color-img{
    background-color: #14a3ab96;
}
.img-button{
    width: 100%;
    height: 30px;
    margin: 0;
    border-radius: 10%;
}
.select{
    margin-left: auto;
    margin-bottom: 10px;
    color: white;
    border: none;
    font-size: 13px;
}
.compartir{
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 13px;
}
/* @media (min-width: 372px) {

}


@media (min-width: 420px) {
  
}*/


@media (min-width: 762px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: -webkit-fill-available;
    }
    .container2{
        display: block;
    }
    .main-img{
        width: 100%;
    }
    .inputs{
        width:100%;
    }
    .name{
        font-size:30px;
    }
    .social-media-img{
        width:12%;
    }
    .img-user{
        width:50%;
    }
} 
@media (min-width :1000px){
    
}